dialog {
  flex-direction: column;
  position: absolute;
  left: 42%;
  top: 30%;
  gap: 20px;
  background-color: rgba(32, 82, 221, 0.5);
  color: white;
  border-color: transparent;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
  height: 100px;
  width: 200px;
}
dialog::backdrop {
  background: black;
  opacity: 0.4;
}