  <div class="create-account-container">
    <div class="image-container">
      <img src="/../assets/ImgPlaceholder.png">
    </div>
    <div class="create-account__form">
      <div class="create-account__form__subhead">
        <h2>Create Account</h2>
        <p>Welcome! enter your details and start creating, collecting and selling NFTs.</p>
        <form action="">
          <div class="form form__username">
            <img src="../../../assets/logos/User.png"alt="">
            <input type="text" class="" placeholder="Username">
          </div>
          <div class="form form__email">
            <img src="../../../assets/logos/EnvelopeSimple.png" alt="">
            <input type="text" class="" placeholder="Email Address">
          </div>
          <div class="form form__password">
            <img src="../../../assets/logos/LockKey.png" alt="">
            <input type="text" class="" placeholder="Password">
          </div>
          <div class="form form__password">
            <img src="../../../assets/logos/LockKey.png" alt="">
            <input type="text" class="" placeholder="Confirm Password">
          </div>      
        </form>
        <app-button [color]="accountButton">Create account</app-button>
      </div>
    </div>
  </div>